# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Environment variables
.env

# MacOS
.DS_Store

# Coverage directory used by tools like istanbul
coverage/

# Misc
*.swp
